body{
    background: linear-gradient( to right, rgb(9, 169, 218), white);
    
    padding-top: 5%;

}

.container{
    border: 1px solid black;
    border-top: 2px solid green;
}

table, th, td {
    border: 1px solid black;
  }

 .container footer{
    bottom: 0;
  }